<% include ../partials/header %>
    <div class="container">
        <div class="row">
            <h1 style="text-align: center">Create New Job Role</h1>
            <div style="width: 30%; margin: 30px auto;">
                <form action="/jobroles" method="POST">
                    <div class="form-group">
                        <input class="form-control" type="text" name="jobRole[name]" placeholder="Title" required>
                    </div>
                    <button class="btn btn-large btn-primary">Create</button>
                    <a class="btn btn-large btn-default inline pull-right" href="/jobroles">Back</a>
                </form>
            </div>
        </div>
    </div>
<% include ../partials/footer %>